<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> write new chats </title>
</head>
<body>
    <form method="POST" action="/chats">
        <input placeholder="who are you?" name="from">
        <br>
        <br>
        <textarea name="msg" id="" placeholder="Write your msg here!"></textarea>
        <br>
        <br>
        <input placeholder="who do you want to send to?" name="to">
        <br>
        <br>
        <button>Send Chat!</button>
    </form>
</body>
</html>