body{
    margin-left: 20px;
}

.chat {
    background-color: pink;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}
.message {
    background-color: lightseagreen;
    padding: 5px 15px;
    border-radius: 8px;

}
.edit{
     background-color: yellow;
}